*{
	box-sizing: border-box;
}

body{
	background-image: url("../images/memphis-colorful.png");
}

.pink{
	width:15%;
}
.blue,
.green,
.white{
	width:10%;
}

#total{
	width: 50%;
	height:30%;
	border: 2px solid black;
	display: inline-block;
}

#result{
	display: inline-block;
	font-size:large;
	text-align: center;
}

#total{
	font-size: 2em;
}
